<!doctype html>
<html lang="en">
  <body>
    <body>
      <body oncontextmenu="return false" onkeydown="return false;">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="imagetoolbar" content="no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <title>NTM Nathan</title>
<link rel="shortcut icon" href="https://i.imgur.com/7xTdTUK.png">


 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow animate slideInDown">
  <div class="container">
 <a class="navbar-brand navanimations animate fadeIn" href="/">
     <b>NTM Nathan</b>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navanimations animate fadeIn" href="https://github.com/ntmnathan"><i class="fab fa-github navanimations animate fadeIn"></i> <b>GitHub</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navanimations animate fadeIn" href="https://discordapp.com/invite/rvrFHCJ"><i class="fab fa-discord navanimations animate fadeIn"></i> Discord</a>
      </li>
         <li class="nav-item">
        <a class="nav-link navanimations animate fadeIn" href="https://www.paypal.me/nathantominecraft"><i class="fab fa-paypal navanimations animate fadeIn"></i> Donate</a>
      </li>
           <li class="nav-item">
        <a class="nav-link navanimations animate fadeIn" href="https://natebot-haste.glitch.me/"><i class="fas fa-code navanimations animate fadeIn"></i> Haste</a>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown navanimations animate fadeIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>Main Projects</strong>
        </a>
          <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://natebot.xyz"><img src="https://natebot-static.glitch.me/image/4f4c5486304131e1051c9e159eb9c91d.jpg" id="nav1" width="25" height="25" class="d-inline-block align-top" alt="">  Nate Bot</a>
            <a class="dropdown-item" href="https://hive.paroxity.net/"><img src="https://natebot-static.glitch.me/image/9a8ed9257850648f920e3cb52cc01f55.jpg" id="nav2" width="25" height="25" class="d-inline-block align-top" alt=""> Hive Tools</a>
            <a class="dropdown-item" href="https://natebot-api.glitch.me/"><img src="https://natebot-static.glitch.me/image/c32c96a486ed9b2889746537b2dea06d.png" id="nav3" width="25" height="25" class="d-inline-block align-top" alt=""> Nate Bot API</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center h1fixed">
  <center><img src="https://natebot-static.glitch.me/image/d085ef9ad3c85714300f99d759102ce4.png" id="avatar" width="auto" height="150" class="rounded-circle border-2 shadow avatar animate jackInTheBox" alt="Profile"></center>
  <h1 class="mt-4 text-white font-weight-light avatar animate jackInTheBox">Hello! I'm <b>NTM Nathan</b></h1>
  <p class="lead text-white-50 avatar animate jackInTheBox">I am a Hobby Developer, Occasional YouTuber and Graphic Designer.<br>A lover of Tennis, Travelling and Pizza!</p>	
    
    <a class="btn btn-social-icon btn-bitbucket"><i class="fab fa-js-square fa-2x icon1 animate fadeInUp" style="color:white"></i></a>    
    <a class="btn btn-social-icon btn-bitbucket"><i class="fab fa-html5 fa-2x icon1 animate fadeInUp" style="color:white"></i></a>
    <a class="btn btn-social-icon btn-bitbucket"><i class="fab fa-java fa-2x icon2 animate fadeInUp" style="color:white"></i></a>
    <a class="btn btn-social-icon btn-bitbucket"><i class="fab fa-css3 fa-2x icon2 animate fadeInUp" style="color:white"></i></a>
    <a class="btn btn-social-icon btn-foursquare"><i class="fab fa-php fa-2x icon3 animate fadeInUp" style="color:white"></i></a>
    <a class="btn btn-social-icon btn-github"><i class="fab fa-node fa-2x icon3 animate fadeInUp" style="color:white"></i></a>
    <a class="btn btn-social-icon btn-google-plus"><i class="fab fa-npm fa-2x icon4 animate fadeInUp" style="color:white"></i></a>
    <a class="btn btn-social-icon btn-google-plus"><i class="fab fa-swift fa-2x icon4 animate fadeInUp" style="color:white"></i></a>
  </div>
          
      
      <div class="container">
        <hr class="icon2 animate fadeIn">
         <center><h1 class="subtitleh1 icon2 animate lightSpeedIn" style="color:white"><b>My Projects</b></h1></center>
 <center><div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInLeft">
      <div class="card border-0 shadow">
        <a href="https://natebot.xyz/"><img src="https://natebot-static.glitch.me/image/040a8b90350d6360bce9db2404d395bc.png" id="project1" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nate Bot</h5>
          <div class="card-text text-black-50">A Discord Bot for Multi-Purpose Usage.</div>
          <hr>
      <center>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <a href="https://natebot.xyz/" class="btn btn-primary">Website</a>
        <a href="https://discordapp.com/oauth2/authorize?client_id=520531771679571970&permissions=8&redirect_uri=https://discordapp.com/invite/rvrFHCJ&response_type=code&scope=identify%20bot%20guilds%20connections" class="btn btn-primary">Invite</a>
        <a href="https://discord.gg/rvrFHCJ" class="btn btn-primary">Support</a>
      </div>
        </center>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
   <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInDown">
      <div class="card border-0 shadow">
        <a href="https://natebot.xyz/"><img src="https://natebot-static.glitch.me/image/9a8ed9257850648f920e3cb52cc01f55.jpg" id="project2" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Hive Tools</h5>
          <div class="card-text text-black-50">Discord Bot Using Hive API for Stats and Guides.<br></div>
          <hr>
      <center>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <a href="https://hive.paroxity.net/" class="btn btn-primary">Website</a>
        <a href="https://discordapp.com/oauth2/authorize?client_id=547119572969455616&scope=bot&permissions=76864" class="btn btn-primary">Invite</a>
        <a href="https://discord.gg/rvrFHCJ" class="btn btn-primary">Support</a>
      </div>

        </center>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInDown">
      <div class="card border-0 shadow">
        <a href="https://youtube.com/user/Nathantominecraft/"> <img src="https://natebot-static.glitch.me/image/7bab11a1a79c4ecc0df453692985875a.png" id="project3" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nathantominecraft</h5>
          <div class="card-text text-black-50">YouTube Channel focusing on Gameplays.</div>
             <hr>
      <center>
      <a href="https://youtube.com/user/Nathantominecraft/" class="btn btn-primary btn-sm" role="button" aria-pressed="true">YouTube</a>
          </center>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInRight">
      <div class="card border-0 shadow">
        <img src="https://i.imgur.com/L7HjSd9.jpg" id="project4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">RoryMercury</h5>
          <div class="card-text text-black-50">A WIP Discord Bot written in Java with JDA4.</div>
               <hr>
      <center>
      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Invite Coming Soon.</a>
          </center>
        </div>
      </div>
    </div>
     <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInLeft">
      <div class="card border-0 shadow">
        <img src="https://natebot-static.glitch.me/image/e36a72aa85ed1eab23d2862ad5ca60e2.png" id="project5" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">School in Eastern NSW</h5>
          <div class="card-text text-black-50">Working on a new Website Design!</div>
               <hr>
      <center>
      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Link, Coming Soon...</a>
          </center>
        </div>
      </div>
    </div>
      <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInUp">
      <div class="card border-0 shadow">
        <a href="https://natebot-api.glitch.me/"><img src="https://natebot-static.glitch.me/image/c32c96a486ed9b2889746537b2dea06d.png" id="project6" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nate Bot API</h5>
          <div class="card-text text-black-50">API System with Images and Text endpoints.</div>
          <hr>
            <center>
      <a href="https://natebot-api.glitch.me/" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Website</a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInUp">
      <div class="card border-0 shadow">
        <a href="https://holo-bot.glitch.me/"><img src="http://natebot-static.glitch.me/image/58f7058eeb9dcc4db3587f0dbc9ea8f0.png" id="project7" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Holo</h5>
          <div class="card-text text-black-50">Developer for HoloBot. Made by RyansHDs</div>
          <hr>
            <center>
      <a href="https://holo-bot.glitch.me/" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Website</a>
          </center>
        </div>
      </div>
    </div>
     <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInRight">
      <div class="card border-0 shadow">
        <a href="https://sonic-discord-bot.glitch.me/"><img src="https://i.imgur.com/CdRenc5.png" id="project8" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sonic</h5>
          <div class="card-text text-black-50">Developer for Sonic Bot. Made by Panda Dev</div>
               <hr>
      <center>
      <a href="https://sonic-discord-bot.glitch.me/" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Website</a>
          </center>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 icon1 animate fadeInLeft">
      <div class="card border-0 shadow">
        <a href="https://i.imgur.com/QEUQjzy.jpg"><img src="https://i.imgur.com/QEUQjzy.jpg" id="project9" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kanna File Hosting</h5>
          <div class="card-text text-black-50">Upload any file anonymously to the website!</div>
          <hr>
      <center>
       <center>
      <a href="https://kanna-hosting.glitch.me/" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Website</a>
          </center>
        </center>
        </div>
      </div>
    </div>
  </div>
   </center>
      <hr class="icon2 animate fadeIn">
      </div>
    </body>
    
    <div class="container">
      <center><h1 class="subtitleh1 icon2 animate lightSpeedIn" style="color:white"><b>My Experiences</b></h1></center>
          <div class="accordion icon1 animate fadeInUp" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Managing Developer of Nate Bot and Hive Info Discord Bots  </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
Nate Bot was designed with Multi-Purpose Features. Featuring commands from categories such as Economy, Essential, Games, Love and Music. The Bot was written from scratch in JavaScript, AJAX, Node.JS with the Discord.JS library. Nate Bot is currently used by over 300 Servers worldwide.<br><br>My Main Responsibilities within the Nate Bot Team is creating and designing unique Nate Bot Commands and Experiences. This will be created and released for everyone to use and enjoy. This involves planning, creating concepts, developing commands and working with our Developers to see the developed creations get released.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        N.P. Studios </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
Part of a Local Design Studio. This was the managing body for Nathantominecraft and JCL Gaming. N.P. Studios acquired iEllaria but then was sold, making it independant again. They specialise in Website Development, YouTube Channel content creation and community support.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Work Placement at Officeworks and Local Radio Station
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
As Part of a School Program called Work Placement. I have done Work Placement (Not Paid) at Officeworks and a Local Radio Station. Most of my YouTubing Skills came from Radio Broadcasting and I have mainly developed new Song Files. Sweepers, Advertisements, Social Media Banners for the Station. At Officeworks, I have experienced working on the store floor helping customers, cleaning and reimaging Windows Computers and stacking shelves for the next work day at Officeworks.</div>
    </div>
  </div>
</div>
    <hr class="icon2 animate fadeIn"> 
      <center><h1 class="subtitleh1 icon2 animate lightSpeedIn" style="color:white"><b>Contact and Social Media</b></h1></center>
    <center>
    <a href="https://www.youtube.com/user/Nathantominecraft" class="btn btn-primary btn-lg active btncustom icon1 animate fadeInUp" style="background-color:#FF0000"><i class="fab fa-youtube fa-2x icon1 animate fadeInUp" style="color:white"></i></a>    
    <a href="https://twitter.com/ntm_nathan" class="btn btn-primary btn-lg active btncustom icon1 animate fadeInUp"  style="background-color:#4AB3F4"><i class="fab fa-twitter fa-2x icon1 animate fadeInUp" style="color:white"></i></a>
    <a href="https://www.facebook.com/nathantominecraft/" class="btn btn-primary btn-lg active btncustom icon2 animate fadeInUp" style="background-color:#3b5998"><i class="fab fa-facebook fa-2x icon2 animate fadeInUp" style="color:white"></i></a>
    <a href="https://www.instagram.com/natebotdiscord/" class="btn btn-primary btn-lg active btncustom icon2 animate fadeInUp" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)"><i class="fab fa-instagram fa-2x icon2 animate fadeInUp" style="color:white"></i></a>
    <a href="https://discordapp.com/invite/rvrFHCJ" class="btn btn-primary btn-lg active btncustom icon3 animate fadeInUp" style="background-color:#7289DA"><i class="fab fa-discord fa-2x icon3 animate fadeInUp" style="color:white"></i></a>
    <a href="https://github.com/ntmnathan" class="btn btn-primary btn-lg active btncustom icon3 animate fadeInUp" style="background-color:#24292E"><i class="fab fa-github fa-2x icon3 animate fadeInUp" style="color:white"></i></a>
    <a href="https://www.twitch.tv/ntmnathan" class="btn btn-primary btn-lg active btncustom icon4 animate fadeInUp" style="background-color:#4B367C"><i class="fab fa-twitch fa-2x icon4 animate fadeInUp" style="color:white"></i></a>
    <a href="mailto:ntmnathantominecraft@gmail.com" class="btn btn-primary btn-lg active btncustom icon4 animate fadeInUp"><i class="fas fa-envelope fa-2x icon4 animate fadeInUp" style="color:white"></i></a>
    <a href="https://www.paypal.me/nathantominecraft" class="btn btn-primary btn-lg active btncustom icon4 animate fadeInUp" style="background-color:#0070BA"><i class="fab fa-paypal fa-2x icon4 animate fadeInUp" style="color:white"></i></a>
    </center>
  <div class="footerpadding">
  <center><iframe src="https://discordapp.com/widget?id=602830493536223232&theme=dark" onkeydown="return false;" class="subtitleh1 icon2 animate fadeIn" width="300" height="400" allowtransparency="true" frameborder="0"></iframe></center> 
  </div>
</div>
        <footer id="sticky-footer" class="py-4 bg-dark footer text-white-50 animate slideInUp">
    <div class="container text-center">
      <small>Copyright &copy; 2019 NTM Nathan - All rights reserved</small>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/client.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </body>
</html>